@{
	Layout = "~/_SiteLayout.cshtml";
	Page.Title = "Home Page";
}

<div class="tab-content">

	
	@RenderPage("~/Home.cshtml")
	@RenderPage("~/Appetizers.cshtml")
	@RenderPage("~/Soups.cshtml")
	@RenderPage("~/Tandoori.cshtml")
	@RenderPage("~/Thali.cshtml")
	@RenderPage("~/Chicken.cshtml")
	@RenderPage("~/Lamb.cshtml")
	@RenderPage("~/Seafood.cshtml")
	@RenderPage("~/Biryani.cshtml")
	@RenderPage("~/Vegetarian.cshtml")
	@RenderPage("~/ChefSpecials.cshtml")
	@RenderPage("~/Breads.cshtml")
	@RenderPage("~/SideOrders.cshtml")
	@RenderPage("~/Desserts.cshtml")
	@RenderPage("~/Beverages.cshtml")
	
</div>